Material introductorio para el curso de Ciencia de Datos en la maestría de Computo estadístico.

- ¿Cómo utilizar python?
  1. De forma local.
  2. Google Colabs

- ¿Cómo instalar python?:
Reomiendo utilizar lo siguiente (en gustos se rompen generos):
 - Anaconda and Pycharm (linux)
 - Visual Studio Code, Cmder and Python (Windows).

# Hello World

In [1]:
print("Hello world")

Hello world

# Python como calculadora

In [2]:
1+2 # suma

3

In [3]:
2*3 # multiplicación

6

In [6]:
15/2 # división

7.5

In [8]:
15//2 # división entera

7

In [9]:
15%2 # modulo

1

In [11]:
2**3 # exponente

8

# Tipos de datos
Python es un lenguaje de tipo dinamico, por lo que no es necesario que se declaren el tipo de una variable antes de crearla.

## Númericos

In [14]:
a = 2 # enteros(int)
b = 123
print(type(a))

<class 'int'>

In [13]:
c = 2.1 # puntos flotantes (float)
d = 239.0
print(type(d))

<class 'float'>

## String
Los strings son inmutables, es decir, no se pueden modificar si ya son creados.

In [17]:
e = "Hello world!"

In [15]:
"'CIMAT' Monterrey"

"'CIMAT' Monterrey"

In [20]:
e[2] = "k"

TypeError: ignored

In [25]:
"CI" + "MAT"

'CIMAT'

In [23]:
"a"*3

'aaa'

In [24]:
"a"/3

TypeError: ignored

In [35]:
len(e)

12

### Listas: métodos

In [29]:
e.replace("e", "E")

'HEllo world!'

In [30]:
e.upper()

'HELLO WORLD!'

In [36]:
e.count("o")

2

In [32]:
idioma = "inglés"
print("El idioma {} es muy útil.".format(idioma))

El idioma inglés es muy útil

In [33]:
print(f"El idioma {idioma} es muy útil.")

El idioma inglés es muy útil.

## Boolean

In [22]:
x = True # bool
y = False

# Condicionales

In [48]:
x = 10
print(x==11)

False

In [65]:
y = True
x = False

print(y)
print(not y)
print(y&y)
print(y&x)
print(y|x)
print(y|y)

True
False
True
False
True
True

In [39]:
# if-statements
edad = 19
if edad>18:
  print("Puede tomar alcohol!!!")

Puede tomar alcohol!!!

In [44]:
# if/else -statements
calificacion = 6 
if calificacion>7:
  print("Aprobaste.")
else:
  print("Reprobaste")

Reprobaste

In [45]:
# if/elif/else
pais = "México"
if pais=="México":
  print("Eres mexinano.")
elif pais=="China":
  print("Eres chino")
else:
  print("Nacionalidad desconocida.")

Eres mexinano.

In [47]:
i = 1
while i<5:
  print(i)
  i +=1

1
2
3
4

# Funciones Basicas

In [77]:
def complete_name(name: str, last_name:str) -> str:
  """
  Esta función te crea tu nombre completo
  """
  return f"Tu nombre completo es {name} {last_name}"

# ejemplo:
complete_name("Andres", "Lopez")

'Tu nombre completo es Andres Lopez'

In [74]:
def hours_to_minutes(hour):
  return hour*60

# ejemplo:
hours_to_minutes(3)

180

In [76]:
# Ejercicio, qué se espera de la siguiente función:

def primera_letra(palabra):
  palabra[2]

primera_letra("palabra")

# Estructuras de datos

- Diccionarios: Key/value, son mutables
- Tuplas: In
- Conjuntos:

## Listas
Son mutables, diferentes tipos de valores.

In [103]:
l1 = [12, 3, 24234,324]

In [101]:
l2 = ["ads", 23, 123.4, True]

In [104]:
l3 = [l1,l2]

### Ejercicios para clase:
- Indexación
- Acceder a los elementos de una lista
- Agregar elementos, eliminar.
- Contar número de elementos.
- Copiar una lista (cuidado!!!): id

## Diccionarios
Key/valur, son mutables

In [111]:
d1 = {"Maria":23, "Luis":28}

In [105]:
d2 = {"punto_1":[12,3], 
      "punto_2":[23,34]}

In [106]:
d3 = {1:True,
      "hej": 23}

In [109]:
d3["hej"]

23

In [113]:
d1.keys()

dict_keys(['Maria', 'Luis'])

In [112]:
d2.values()

dict_values([[12, 3], [23, 34]])

## Tuplas
Son parecidas a las listas, con la diferencia que sson inmutables.

In [114]:
t1 = (1, 24, 56)

In [116]:
t2 = (1, 1.62, '12', [1, 2 , 3])

In [117]:
t3 = (t1, t2)

## Conjuntos
Son mutables

In [118]:
s1 = {32, 3, 1, 86, 6, 8}
s2 = {8, 6, 21, 7, 26}

In [119]:
s1.union(s2)

{1, 3, 6, 7, 8, 21, 26, 32, 86}

In [120]:
s1.intersection(s2)

{6, 8}

In [123]:
list_duplicada = [1, 2, 3,4, 1,3, 4,2,4,5,7]
s3 = set(list_duplicada)
s3

{1, 2, 3, 4, 5, 7}

# For loops

In [127]:
for num in [1,2,3,4]:
  print(num**2)

1
4
9
16

In [129]:
for num in range(4):
  print(num**2)

0
1
4
9

In [130]:
for letra in "Abcdefghi":
  print(letra)

A
b
c
d
e
f
g
h
i

In [139]:
i = 0
for _ in range(12):
  i += 1
print(i)

12

In [140]:
l1 = [1, 2, 4, 5]
l2 = [i**2 for i in l1]
print(l2)

[1, 4, 16, 25]

# [Numpy](https://assets.datacamp.com/blog_assets/Numpy_Python_Cheat_Sheet.pdf)

Es una libreria que se enfoca para la computación científica en Python. Proporciona un objeto de matrix multidimensional de alto rendimiento y herramientas para trabajar con esta matrix.

In [2]:
# !pip install numpy # install
import numpy as np

In [6]:
# ejemplo de lista
l1 = [1, 2, 3]
print(l1*3)
print(np.array(l1)*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[3 6 9]

In [8]:
array = np.array([1, 2, 3, 4, 5, 6, 7, 8])
type(array)

numpy.ndarray

In [9]:
print(array.shape)

(8,)

In [10]:
print(array[0], array[1], array[2])

1 2 3

In [11]:
array[4] = 15
array

array([ 1,  2,  3,  4, 15,  6,  7,  8])

### Array espaciales

In [18]:
zeros = np.zeros((2,3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [20]:
one = np.ones((3,2))
one

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [3]:
identidad = np.eye(3)
identidad

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [6]:
matrix_random = np.random.random((3,4))
matrix_random

array([[0.00789362, 0.74760296, 0.76442222, 0.33752131],
       [0.16252841, 0.46572585, 0.06467708, 0.92642138],
       [0.70296868, 0.93330716, 0.85980709, 0.56114497]])

### Array indexing

In [3]:
a = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [6]:
print(a[0], a[1], a[11])

1 2 12

In [7]:
print(a[-1], a[-2], a[-3])

12 11 10

In [9]:
print(a[1:3])
print(a[:3])
print(a[4:])
print(a[:-1])

[2 3]
[1 2 3]
[ 5  6  7  8  9 10 11 12]
[ 1  2  3  4  5  6  7  8  9 10 11]

In [16]:
print(a[1:10:2])
print(a[1:10:3])

[ 2  4  6  8 10]
[2 5 8]

In [19]:
print(a[:])
print(a[::2])

[ 1  2  3  4  5  6  7  8  9 10 11 12]
[ 1  3  5  7  9 11]

### 2-D arrays

In [26]:
# a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
a2 = a.reshape(3,4)
print(a2)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [30]:
print(a2[1,:])
print(a2[1,3])
print(a2[1:3, 2:])

[5 6 7 8]
8
[[ 7  8]
 [11 12]]

In [31]:
a2.T

array([[ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11],
       [ 4,  8, 12]])

In [81]:
a2.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [42]:
a2.min(axis=1)

array([1, 5, 9])

In [43]:
a2.diagonal()

array([ 1,  6, 11])

In [50]:
a2.sum(axis=1)

array([10, 26, 42])

In [55]:
# CUIDADO al copiar una array
original = np.ones(4)
print("Original:", original)
copia = original
copia[0] = 3
print("Copia:", copia)

Original: [1. 1. 1. 1.]
Copia: [3. 1. 1. 1.]

In [56]:
print("Original:", original)

Original: [3. 1. 1. 1.]

#### Operaciones

In [52]:
matrix = np.array([[1,2,3],[9, 8, 7]])
print(matrix)
matrix2 = np.array([[4, 5, 6],[10, 11,12]])
print(matrix2)

[[1 2 3]
 [9 8 7]]
[[ 4  5  6]
 [10 11 12]]

In [60]:
# suma
matrix+1

array([[ 2,  3,  4],
       [10,  9,  8]])

In [59]:
# multiplicación
matrix*2

array([[ 2,  4,  6],
       [18, 16, 14]])

In [62]:
# resta
matrix - matrix2

array([[-3, -3, -3],
       [-1, -3, -5]])

In [68]:
# multiplicación matricial
print(matrix.dot(matrix2.T))
print(matrix@matrix2.T)

[[ 32  68]
 [118 262]]
[[ 32  68]
 [118 262]]

In [82]:
print(matrix*matrix2)
print(np.multiply(matrix, matrix2))

[[ 4 10 18]
 [90 88 84]]
[[ 4 10 18]
 [90 88 84]]

In [83]:
print(np.divide(matrix, matrix2))

[[0.25       0.4        0.5       ]
 [0.9        0.72727273 0.58333333]]

In [84]:
matrix3 = np.array([[2,0],[0,2]])
print(matrix3)

[[2 0]
 [0 2]]

In [86]:
np.linalg.inv(matrix3)

array([[0.5, 0. ],
       [0. , 0.5]])

### Broadcasting

In [128]:
x = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])
v = np.array([1, 0, 1])
x+v

array([[ 2,  2,  4],
       [ 5,  5,  7],
       [ 8,  8, 10],
       [11, 11, 13]])

In [129]:
x*v

array([[ 1,  0,  3],
       [ 4,  0,  6],
       [ 7,  0,  9],
       [10,  0, 12]])

# [Pandas](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
Es una libraría especializada en el manejo y análisis de estructuras de datos:
   - Series
   - **DataFrame**

### Creación de un data frame

In [87]:
import pandas as pd

In [91]:
# Diccionario 
datos_dic = {'nombre':['María', 'Luis', 'Carmen', 'Antonio'],
         'edad':[18, 22, 20, 21],
         'grado':['Economía', 'Medicina', 'Arquitectura', 'Economía'],
         'correo':['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']
        }


datos_list = [['María', 18], ['Luis', 22], ['Carmen', 20]]
datos_list_dic = [{'Nombre':'María', 'Edad':18}, {'Nombre':'Luis', 'Edad':22}, {'Nombre':'Carmen'}]
datos_array = np.random.randn(4,3)

In [93]:
print(pd.DataFrame(datos_dic))

    nombre  edad         grado             correo
0    María    18      Economía    maria@gmail.com
1     Luis    22      Medicina      luis@yahoo.es
2   Carmen    20  Arquitectura   carmen@gmail.com
3  Antonio    21      Economía  antonio@gmail.com

In [94]:
print(pd.DataFrame(datos_list, columns=["nombre", "edad"]))

   nombre  edad
0   María    18
1    Luis    22
2  Carmen    20

In [95]:
print(pd.DataFrame(datos_list_dic))

   Nombre  Edad
0   María  18.0
1    Luis  22.0
2  Carmen   NaN

In [96]:
print(pd.DataFrame(datos_array, columns=["a", "b", "c"]))

          a         b         c
0 -0.972483 -0.772776 -0.584008
1 -0.478910  0.185114  0.248010
2  1.142613  2.176460 -2.186024
3  0.959641  0.266698  0.340351

### CSV

In [100]:
df = pd.read_csv("data/train.csv")
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [101]:
df.tail(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [110]:
# select column
df["PassengerId"]

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64

In [116]:
# select multiply columns
df[["Name", "Sex"]]

                                                  Name     Sex
0                              Braund, Mr. Owen Harris    male
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                               Heikkinen, Miss. Laina  female
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4                             Allen, Mr. William Henry    male
..                                                 ...     ...
886                              Montvila, Rev. Juozas    male
887                       Graham, Miss. Margaret Edith  female
888           Johnston, Miss. Catherine Helen "Carrie"  female
889                              Behr, Mr. Karl Howell    male
890                                Dooley, Mr. Patrick    male

[891 rows x 2 columns]

#### Acceso mediante posiciones:
    - df.iloc[fila,columna]
#### Acceso mediante nombres
    - df.loc[fila, columna]

In [126]:
df.iloc[0:10, 5]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [127]:
df.loc[0:10, "Age"]

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
Name: Age, dtype: float64

In [123]:
df.shape

(891, 12)

In [104]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [106]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [132]:
df.Pclass.unique()

array([3, 1, 2])

In [134]:
dic_pclass = {1:"uno", 2:"dos", 3:"tres"}

In [138]:
# new column
df["pclass_words"] = df["Pclass"].apply(lambda x: dic_pclass[x])
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,pclass_words
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,tres
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,uno

In [143]:
df.groupby(["Sex"]).Age.mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

# Librerias

In [ ]:
%%file mis_funciones.py
def primera_letra(palabra):
  return palabra[2]

In [98]:
import mis_funciones

In [99]:
primera_letra("enique")

'i'

## + librerias importantes:
- Modelos:
    1. sklearn
    2. tensorflow (keras)
    3. statsmodels
    
- Visualización:
    1. matplotlit
    2. seaborn
    3. bokeh
    4. streamlit
    5. dash

- Desarrollo backend
    1. FastApi
    2. Django
    3. Flask

# Referencias utiles
- Python Data Science Hadnbook, Jake Vanderplas.
- Introduction to Machine Learning with Python.

# Temas extra
- https://github.com/Python-Crash-Course/Python101
- Numpy: operaciones con vectores
- [Pandas](https://aprendeconalf.es/docencia/python/manual/pandas/)
- Librerias para visualización: Matplotlib, Seaborn.
- Scope, Closures, Decoradores.
- Python orientado a objetos. 

# Cursos sugeridos:
- Tracks: Data Scientist with python and Machine Learning Scientist, DataCamp.
- Pahts: Data Analyst and Machine Learning Engineer, Platzi.
- Micromaster of Statistics and Data Science 40, Edx.
- Programa Especializado - Ciencias de los Datos Aplicada con Python, el primer curso.